.App {
  text-align: center;
}

.App-logo {
  height: 50px;
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 20px;
}

.App-header a:visited  {
  color: var(--dark)
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-header a {
  padding-right: 20px;
  text-decoration: none;
  text-transform: uppercase;
}
